<footer id="footer" class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="display-2 mb-2">SEY, Yes!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <h6 class="text-uppercase">Information</h6>
                <ul class="list-unstyled">
                    <li><a href="/woman.html">Woman</a></li>
                    <li><a href="/monument.html">Monument</a></li>
                    <li><a href="/who.html">Who</a></li>
                    <li><a href="/map.html">Map</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 column">
                <h6 class="text-uppercase">About</h6>
                <ul class="list-unstyled">
                    <li><a href="/qna.html">QNA's</a></li>
                    <li><a href="./about.html">Our Mission</a></li>
                    <li><a href="./legal.html">Privacy Policy</a></li>
                    <li><a href="./legal.html">Terms &amp; Conditions</a></li>
                </ul>
            </div>

            <div class="col-12 col-lg-2 ml-lg-auto col-md-3 ml-md-0 text-right">
                <h6 class="text-uppercase">Jobs</h6>
                <p><em><a href="">We're looking for great talent. Browse the job openings.</a></em></p>
            </div>
            <div class="col-12 text-md-right text-center">
                <br>
                <ul class="list-inline">
                    <li class="list-inline-item"><a rel="nofollow" href="//twitter.com/ThemesGuide" title="Twitter"><i class="ion-social-twitter-outline"></i></a>&nbsp; </li>
                    <li class="list-inline-item"><a rel="nofollow" href="" title=""><i class="ion-social-instagram-outline"></i></a>&nbsp; </li>
                    <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="ion-social-facebook-outline"></i></a>&nbsp; </li>
                    <li class="list-inline-item"><a rel="nofollow" href="" title="Dribbble"><i class="ion-social-dribbble-outline"></i></a></li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <hr class="light">
        <div class="text-center text-normal">
            <a href="http://themes.guide">Made by Joseph Lim in Sydney<i class="ion-location"></i></a>
        </div>
    </div>
</footer>
