<!-- navbar -->
<nav id="topNav" class="navbar navbar-default mb-3 navbar-expand-lg fixed-top" data-toggle="affix">
    <!-- this toggler only displays on offcanvas layout -->
    <a href="#" class="navbar-toggler-anim toggler-offcanvas my-auto collapsed border-0 mr-2"
            data-toggle="collapse"
            data-target="#offcanvasNavbar">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- text brand or logo image goes here -->
    <a class="navbar-brand page-scroll text-uppercase wide-space link" href="./">
        SEY, Yes!
    </a>
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="collapse navbar-collapse border-0" id="collapsingNavbar">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link page-scroll" data-target="#woman" href="#woman">'위안부'</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" data-target="#monument" href="#monument">소녀상</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" data-target="#last" href="#last">알아보기</a>
            <li class="nav-item">
                <a class="nav-link page-scroll" data-target="#footer" href="#footer">map</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /navbar -->
