<!-- section -->
<section id="three">
    <div class="container py-2 text-center">
        <h2 class="text-center">우리는 단지.</h2>
        <hr class="accent">
        <br>
        <div class="row wow fadeIn">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample10.jpg"><img src="/assets/sample10.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">전쟁범죄 인정.</h3>
                        <h1 class="text-accent">1</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample5.jpg"><img src="/assets/sample5.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">진상규명.</h3>
                        <h1 class="text-accent">2</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample20.jpg"><img src="/assets/sample20.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">공식사죄.</h3>
                        <h1 class="text-accent">3</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample16.jpg"><img src="/assets/sample16.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">법적배상.</h3>
                        <h1 class="text-accent">4</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample54.jpg"><img src="/assets/sample54.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">전범자 처벌.</h3>
                        <h1 class="text-accent">5</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample40.jpg"><img src="/assets/sample40.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">교과서 기록.</h3>
                        <h1 class="text-accent">6</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center">
                <div class="card card-default">
                    <div class="card-img-top">
                        <a href="#galleryModal" data-toggle="modal" data-image="/assets/sample40.jpg"><img src="/assets/sample40.jpg" class="mx-auto img-fluid grayscale" alt="image"></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">추모비 사료관 건립.</h3>
                        <h1 class="text-accent">7</h1>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
    </div>
</section>
<!-- section -->

<aside>
    <div class="container text-center py-4">
        <h2 class="text-center">소녀상의 의미</h2>
        <hr class="accent">
        <br>
        <div class="row wow fadeIn">
            <div class="col-md-5 col-sm-6 col-6 text-center">
                <h3>거칠게 잘린 머리카락</h3>
                <h3 class="text-accent">고향로부터 단절</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <h3>어깨위의 작은 새</h3>
                <h3 class="text-accent">자유와 평화의 상징, 현재와의 연결고리</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <h3>꽉 쥔 주먹</h3>
                <h3 class="text-accent">진심어린 사과의 의지와 표현</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <h3>옆자리 의자</h3>
                <h3 class="text-accent">함께 공감할 수 있는 공간</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <h3>맨발과 들리운 뒤꿈치</h3>
                <h3 class="text-accent">할머님들의 설움</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <h3>그림자</h3>
                <h3 class="text-accent">한과 가슴앓이</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <h3>하얀 나비</h3>
                <h3 class="text-accent">한을 풀기 바라는 염원</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
            </div>
        </div>
    </div>
</aside>

<!-- section -->
<!-- section -->

<section id="five">
    <div class="container py-3">
      <!-- masonry card columns -->
      <div class="card-columns mt-2">
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://www.sedaily.com/NewsView/1S2AB6F8S8"><img src="/assets/sngtae.jpg" alt="Card image" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pl-1">
                  <h6 class="small text-wide">최근 기사</h6>
                  <h2>
                      <a href="http://www.sedaily.com/NewsView/1S2AB6F8S8">‘재판거래’ 양승태 사법부…위안부 피해자 소송도 거래 정황</a>
                  </h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://www.etnews.com/20170705000356"><img src="/assets/evidence.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pb-2 pl-1">
                  <h6 class="small text-wide">기사 속 발견</h6>
                  <h2 class="card-title"><a href="http://www.etnews.com/20170705000356">위안부 영상 찾았다 "73년만에 발견, 교과서 사진이 영상으로..."</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://news1.kr/articles/?3393486"><img src="/assets/sungnam.jpg" alt="SungNam" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pl-1">
                  <h6 class="small text-wide">예술</h6>
                  <h2>
                      <a href="http://news1.kr/articles/?3393486">성남시, 일본군 위안부 피해자 ‘기림의 날’ 특별전</a>
                  </h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://www.newsis.com/view/?id=NISX20170810_0000064777"><img src="/assets/gil.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body py-2 pl-1">
                  <h6 class="small text-wide">예술</h6>
                  <h2 class="card-title"><a href="http://www.newsis.com/view/?id=NISX20170810_0000064777">"신인가수 길원옥이에요"…90세 위안부 할머니 음반 발매</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-body pt-2 pb-2 bg-alt">
                  <p class="text-secondary">
                      Duis pharetra codeply varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt codeply nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                      accumsan. Aliquam in felis sit amet augue.
                  </p>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/mercantile_500_0000.png" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pl-1 py-2">
                  <h6 class="text-wide small">Resonate</h6>
                  <h2 class="card-title"><a href="">Read the Manual</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-body pt-2 pb-2 bg-alt">
                  <p class="text-secondary">
                      Duis pharetra codeply varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt codeply nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                      accumsan. Aliquam in felis sit amet augue.
                  </p>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/office6.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pl-1">
                  <h6 class="small text-wide">Frontend</h6>
                  <h2 class="card-title"><a href="">Making Sense of CSS</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/office4.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body py-2 pl-1">
                  <h6 class="small text-wide">Call to Action</h6>
                  <h2 class="card-title"><a href="">Not What You Expect</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/mercantile_500_0004.png" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pb-2 pl-1">
                  <h6 class="small text-wide">Groovy</h6>
                  <h2 class="card-title"><a href="">Bikes Are Hip</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-body pt-2 pb-2 bg-alt">
                  <p class="text-secondary">
                      Wolf-moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.
                  </p>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/mercantile_500_0008.png" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pl-1 py-2">
                  <h6 class="text-wide small">Desire</h6>
                  <h2 class="card-title"><a href="">Essential Must Haves</a></h2>
              </div>
          </div>
      </div>
    </div>
</section>

<!-- section -->
<section class="bg-alt">
    <div class="container">

      <div class="row pt-4"><!-- this row should be used within a container -->
          <div class="col-lg-4 col-sm-6 py-3 wow fadeIn">

              <!-- card -->
              <div class="card card-default h-100">
                  <div class="card-img-top">
                      <img src="/assets/haksoon.jpg" class="grayscale img-fluid mx-auto d-block" alt="card image 1">
                  </div>
                  <div class="card-body d-flex flex-column">
                      <p class="text-justify">위안부 피해 최초 증언자, 고김학순 할머니</p>
                      <a href data-target="#profileModal" data-toggle="modal" data-caption="Tammy" data-image="/assets/haksoon.jpg" class="btn btn-outline-secondary btn-lg btn-block text-truncate mt-auto">알아보기</a>
                  </div>
              </div>
              <!-- card -->

          </div>
          <div class="col-lg-4 col-sm-6 py-3 wow fadeIn">

              <!-- card -->
              <div class="card card-default h-100">
                  <div class="card-img-top">
                      <img src="./assets/images/pr-sample1.jpg" class="grayscale img-fluid mx-auto d-block" alt="card image 3">
                  </div>
                  <div class="card-body d-flex flex-column">
                      <p class="text-justify">Shiny, shiny, shiny.</p>
                      <a href data-target="#profileModal" data-toggle="modal" data-caption="Marcus" data-image="./assets/images/pr-sample1.jpg" class="btn btn-outline-secondary btn-lg btn-block text-truncate mt-auto">View Profile</a>
                  </div>
              </div>
              <!-- card -->

          </div>
          <div class="col-lg-4 col-sm-6 mx-auto py-3 wow fadeIn">

              <!-- card -->
              <div class="card card-default h-100">
                  <div class="card-img-top">
                      <img src="./assets/images/pr-sample7.jpg" class="grayscale img-fluid mx-auto d-block" alt="card image 3">
                  </div>
                  <div class="card-body d-flex flex-column">
                      <p class="text-justify">Varius azdipiscing elit. Duis pharetra, ovi lipsim diro?</p>
                      <a href data-target="#profileModal" data-toggle="modal" data-caption="Carry" data-image="./assets/images/pr-sample7.jpg" class="btn btn-outline-secondary btn-lg btn-block text-truncate mt-auto">View Profile</a>
                  </div>
              </div>
              <!-- card -->

          </div>
      </div><!-- /row -->
    </div>
</section>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bodeo Template - Blog Detail</title>
    <meta name="description" content="A blog template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap-custom.css">
<link rel="stylesheet" href="css/demo.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/ionicons.css?v=2.0.1" media="none" onload="this.media=&apos;all&apos;">

    <!-- Single Blog post page with comments and related posts below -->
</head>
<body class="preload">
<div class="inc_" data-template="./partials/p_header.html"></div>
<div class="container outer pb-3 mt-3" id="blog-post">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-5 py-2">
            <h1 class="display-1 hidden-down pt-2 post-title">
                <a href="" class="link">
                    You Can Write About It.
                </a>
            </h1>
            <p class="post-subtitle"> </p>
        </div>
        <div class="col-xl-4 ml-xl-auto col-lg-4 ml-lg-auto col-md-5 ml-md-auto py-2">
            <blockquote class="blockquote">
                <h3 class="text-right pt-2"><a href="./blog.html">Blog</a></h3>
            </blockquote>
        </div>
        <div class="col-sm-12">
            <div class="card card-default py-2">
                <p class="font-italic lead m-0">Improving lives and driving economic opportunity</p>
            </div>
            <h6 class="text-wide pt-2"><a class="float-right post-category">Planning</a> <span class="text-dark post-author">Micheal Philip Graves</span></h6>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-12">
            <img src="./assets/images/store3.jpg" class="post-img img-fluid" alt="post photo">
        </div>
        <div class="col-md-12">
            <blockquote class="blockquote float-right">
                <p class="font-italic">
                    &quot;When you speak the same language, you are able to communicate with people to find out more stuff about them.&quot;
                </p>
            </blockquote>
        </div>
        <div class="col-md-12 pt-3 post-content">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply varius quam sit amet vulputate. Quisque <a href="">mauris augue</a>, molestie tincidunt codeply condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in
                <span class="font-italic">sagittis nisi</span>. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue. Tincidunt codeply condimentum vitae, gravida a libero.
            </p>

            <hr>

            <h3 class="mb-4">Chillwave</h3>
            <p>
                Sriracha biaodiesel taxidermy organic post-ironic, <a href="" class="link">Intelligentsia</a> salvia mustache 90&apos;s code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut
                semiotics, raw denim deep v taxidermy <a href="" class="link">messenger bag</a>. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics
                ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90&apos;s blog.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply
                varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum
                vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
                quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit
                amet augue. Tincidunt codeply condimentum vitae, gravida a libero.
            </p>

            <hr>

            <h3 class="mb-4">Apparel</h3>
            <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven&apos;t heard of them, vegan farm-to-table Williamsburg slow-carb
                readymade disrupt deep v. <span class="font-weight-bold">Meggings seitan Wes Anderson</span> semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply
                PBR selfies. Banh mi McSweeney&apos;s Shoreditch selfies, forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland.
            </p>
        </div>
    </div>
</div>
</div>




<section id="five">
    <div class="container py-3">
      <!-- masonry card columns -->
      <div class="card-columns mt-2">
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://www.sedaily.com/NewsView/1S2AB6F8S8"><img src="/assets/sngtae.jpg" alt="Card image" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pl-1">
                  <h6 class="small text-wide">최근 기사</h6>
                  <h2>
                      <a href="http://www.sedaily.com/NewsView/1S2AB6F8S8">‘재판거래’ 양승태 사법부…위안부 피해자 소송도 거래 정황</a>
                  </h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://www.etnews.com/20170705000356"><img src="/assets/evidence.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pb-2 pl-1">
                  <h6 class="small text-wide">기사 속 발견</h6>
                  <h2 class="card-title"><a href="http://www.etnews.com/20170705000356">위안부 영상 찾았다 "73년만에 발견, 교과서 사진이 영상으로..."</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://news1.kr/articles/?3393486"><img src="/assets/sungnam.jpg" alt="SungNam" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pl-1">
                  <h6 class="small text-wide">예술</h6>
                  <h2>
                      <a href="http://news1.kr/articles/?3393486">성남시, 일본군 위안부 피해자 ‘기림의 날’ 특별전</a>
                  </h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href="http://www.newsis.com/view/?id=NISX20170810_0000064777"><img src="/assets/gil.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body py-2 pl-1">
                  <h6 class="small text-wide">예술</h6>
                  <h2 class="card-title"><a href="http://www.newsis.com/view/?id=NISX20170810_0000064777">"신인가수 길원옥이에요"…90세 위안부 할머니 음반 발매</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-body pt-2 pb-2 bg-alt">
                  <p class="text-secondary">
                      Duis pharetra codeply varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt codeply nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                      accumsan. Aliquam in felis sit amet augue.
                  </p>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/mercantile_500_0000.png" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pl-1 py-2">
                  <h6 class="text-wide small">Resonate</h6>
                  <h2 class="card-title"><a href="">Read the Manual</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-body pt-2 pb-2 bg-alt">
                  <p class="text-secondary">
                      Duis pharetra codeply varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt codeply nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                      accumsan. Aliquam in felis sit amet augue.
                  </p>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/office6.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pl-1">
                  <h6 class="small text-wide">Frontend</h6>
                  <h2 class="card-title"><a href="">Making Sense of CSS</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/office4.jpg" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body py-2 pl-1">
                  <h6 class="small text-wide">Call to Action</h6>
                  <h2 class="card-title"><a href="">Not What You Expect</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/mercantile_500_0004.png" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pt-2 pb-2 pl-1">
                  <h6 class="small text-wide">Groovy</h6>
                  <h2 class="card-title"><a href="">Bikes Are Hip</a></h2>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-body pt-2 pb-2 bg-alt">
                  <p class="text-secondary">
                      Wolf-moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.
                  </p>
              </div>
          </div>
          <div class="card card-default mb-2">
              <div class="card-img-top wow fadeIn">
                  <a href=""><img src="./assets/images/mercantile_500_0008.png" class="mx-auto img-fluid d-block"></a>
              </div>
              <div class="card-body pl-1 py-2">
                  <h6 class="text-wide small">Desire</h6>
                  <h2 class="card-title"><a href="">Essential Must Haves</a></h2>
              </div>
          </div>
      </div>
    </div>
</section>

</head>
<section id="monument" class="bg-alt">
<body class="preload">
<div class="inc_" data-template="./partials/p_header.html"></div>
<div class="container outer pb-3 mt-3" id="blog-post">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-5 py-2">
            <h1 class="display-1 hidden-down pt-2 post-title">
                <a href="" class="link">
                    '위안부' 평화의 소녀상
                </a>
            </h1>
            <p class="post-subtitle"> </p>
        </div>
        <div class="col-xl-4 ml-xl-auto col-lg-4 ml-lg-auto col-md-5 ml-md-auto py-2">
        </div>
        <div class="col-sm-12">
            <div class="card card-default py-2">
                <p class="font-italic lead m-0">국내 80여 곳, 해외 10여 곳</p>
            </div>
            <h6 class="text-wide pt-2"><span class="text-dark post-author">전세계에 있는 평화의 소녀상</span></h6>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-12">
            <img src="/assets/store3.png" class="post-img img-fluid" alt="post photo">
        </div>
        <div class="col-md-12">
            <blockquote class="blockquote float-right">
                <p class="font-italic">
                    &quot;When you speak the same language, you are able to communicate with people to find out more stuff about them.&quot;
                </p>
            </blockquote>
        </div>
        <h3 class="mb-4">Chillwave</h3>
            <p>
                Sriracha biaodiesel taxidermy organic post-ironic, <a href="" class="link">Intelligentsia</a> salvia mustache 90&apos;s code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote bag cronut
                semiotics, raw denim deep v taxidermy <a href="" class="link">messenger bag</a>. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics
                ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90&apos;s blog.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra codeply
                varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum
                vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
                quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit
                amet augue. Tincidunt codeply condimentum vitae, gravida a libero.
            </p>
        </div>
    </div>
</div>
</div>
