<div id="top" class="bg-white">
    <div class="header-content container py-5">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5 py-3">
                <h1 class="display-2 pt-3 mb-5">
                    <a href="" class="link">
                        <span class="text-typing line-1 wow fadeIn" data-wow-delay="1.2s">우리는,</span>
                        <span class="text-typing line-2 wow fadeIn" data-wow-delay="1.4s">Yes라고 말할때까지</span>
                        <span class="text-typing line-3 wow fadeIn text-highlight" data-wow-delay="1.6s">멈추지 않을겁니다.</span>
                    </a>
                </h1>
            </div>
<!--- main ---->
            <div class="col-xl-4 ml-xl-auto col-lg-4 ml-lg-auto col-md-5 ml-md-auto py-3">
                <blockquote class="blockquote">
                    <h3 class="text-right pt-3"> <a href="" class="link">'위안부'<a/>생존자<br>현재까지, <em>이제,</em> 단,<br>27명.</h3>
                    <br>
                    <h6 class="text-right"><a href="" class="text-muted link small">2018년 7월 3일 현재</a></h6>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!--- main2 ---->
<header id="woman" class="bg-image-jungle bg-fixed bg-cover">
    <div class="header-content container py-3">
        <div class="row vcenter">
            <div class="col-xl-5 col-lg-4 col-md-3"></div>
            <div class="col-xl-7 col-lg-8 col-md-9 bg-white wow fadeIn">
                <div class="p-4">
                    <h1 class="pt-2"><a href="" class="link">'위안부'<a/></h1>
                    <h6 class="wow fadeIn text-uppercase small text-bold wide-space">이제, 정말, 얼마 남지 않은 살아있는 역사</h6>
현재까지 살아있는 우리의 할머님이 계심에도 일본 정부는 아직도 그 사실을 인정하지 않고 있습니다. 그렇다면 그<a href="" class="link"> '위안부'</a> 란 무엇일까요?</p>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- navbar -->
<%= render partial: "home/partial/navbar" %>
<!-- section -->
<section class="bg-alt">
    <div class="container py-5">
        <div class="row py-2">
          <div class="col-lg-6 col-md-6 col-12 wow fadeIn" data-wow-delay=".4s">
              <div class="card card-default">
                  <div class="card-img-top card-img-top-400 card-zoom">
                      <a href="/qna.html"><img src="/assets/womanpic3.jpg" class="mx-auto img-fluid" alt="image"></a>
                  </div>
                  <div class="card-body pt-2">
                      <h3 class="card-title text-truncate text-center">'위안부'란 무엇이죠?</h3>
                  </div>
              </div>
          </div>
            <div class="col-lg-6 col-md-6 col-12 wow fadeIn" data-wow-delay=".4s">
                <div class="card card-default">
                    <div class="card-img-top card-img-top-400 card-zoom">
                        <a href="/who.html"><img src="/assets/womanpic3.jpg" class="mx-auto img-fluid" alt="image"></a>
                    </div>
                    <div class="card-body pt-2">
                        <h3 class="card-title text-truncate text-center">우리의 할머님들</h3>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section -->
<header id="first" class="bg-image2 bg-fixed bg-cover">
    <div class="header-content container py-3">
        <div class="row vcenter">
            <div class="col-xl-5 col-lg-4 col-md-3"></div>
            <div class="col-xl-7 col-lg-8 col-md-9 bg-white wow fadeIn">
              <div class="p-4">
                  <h1 class=""><a href="/aus.html" class="link">평화의 소녀상</a></h1>
                  <h6 class="wow fadeIn text-uppercase small text-bold wide-space">잊지 말아야 합니다. 그리고 기억해야 합니다</h6>
                  <p class="lead pt-2 pr-2">The nay sayers say it all "looks the same", but don't all iOS app interfaces look the same too? Just because there's consistency, doesn't mean there's not creativity.</p>
              </div>
            </div>
        </div>
    </div>
</header>

<div class="container outer pb-3 mt-3" id="blog-post">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-5 py-2">
            <h1 class="display-1 hidden-down pt-2 post-title">
                <a href="/aus.html" class="link">
                    평화의 소녀상
                </a>
            </h1>
            <p class="post-subtitle"> </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-12">
            <img src="/assets/store3.png" class="post-img img-fluid" alt="post photo">
        </div>
        <div class="col-md-12">
            <blockquote class="blockquote float-right">
                <p class="font-italic">
                    &quot;대한민국 약 80여 곳, 해외 약 10여 곳&quot;
                </p>
            </blockquote>
        </div>
        <h3 class="mb-4"><a href="/aus.html" class="link">평화의 소녀상</a></h3>
            <p>
            1991년 고 김학순 할머님의 의해 최초 증언된 <a href="" class="link">'위안부'</a>가 이 세상에 나오게 됐습니다. 이듬해 1992년 1월 8일부터 2018년 현재까지 수요집회는 약 2000여 회까지 진행되고 있으며
            수요집회는 세계에서 가장 오랜 집회로 기네스북에 오른 집회이기도 합니다.
            </p>
            <p>
                그렇게 매주 수요일마다 진행된 수요집회는 2011년 12월 00일 마침내 1000회를 맞이하였으며 1000회를 기념하여 대한민국주재일본대사관 앞에 세워지게 됐습니다.
                이후 <a href="/aus.html" class="link">평화의 소녀상</a>은 대한민국 80여 곳 해외 10여곳에 세워져 있으며 현재에도 민간에서 많은 노력으로 곳곳에 세워져 우리의 곁에 있게 됐습니다.
            </p>
        </div>
    </div>
</div>
</div>

<!-- section -->
<section id="last" class="bg-alt">
    <div class="container">
      <iframe width="1200" height="630" src="https://www.youtube.com/embed/9dfNJ-HJLzU?rel=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section>
<aside>
    <div class="container text-center py-3">
        <h2>함께하는 손길</h2>
        <hr class="accent">
        <a href="./features.html" class="btn btn-outline-dark btn-lg wow flipInX text-uppercase mb-2">더 알아보기</a>
        <div class="row mt-5 py-5">
            <div class="col-lg-10 mx-lg-auto">
                <div class="row">
                    <div class="col-12 py-3">
                        <h6 class="wide-space text-center small">'위안부'할머님과 함께하는 우리의 이웃</h6>
                    </div>
                    <div class="col-sm-3 col-6 text-center">
                        <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                    </div>
                    <div class="col-sm-3 col-6 text-center">
                        <i class="icon-lg ion-social-sass" title="sass"></i>
                    </div>
                    <div class="col-sm-3 col-6 text-center">
                        <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                    </div>
                    <div class="col-sm-3 col-6 text-center">
                        <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<section class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto text-center">
                <h2 class="margin-top-0 wow fadeIn">연락 주세요</h2>
                <hr class="accent">
                <p>당신의 손길이 큰 힘이 됩니다. '위안부' 피해자 할머님과 함께할 수 있는 일은 생각보다 훨씬 가까이에 있습니다.</p>
            </div>
            <div class="col-lg-10 mx-lg-auto text-center">
                <form class="contact-form row">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="이름">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="전자우편">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="휴대전화">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="메시지를 남겨주세요.."></textarea>
                    </div>
                    <div class="col-md-4 ml-md-auto">
                        <label></label>
                        <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-outline-dark btn-block btn-lg">보내기<i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /footer -->
<%= render partial: "home/partial/footer" %>
<!-- /modals -->


<!--scripts loaded here-->
<script src="/assets/template/jquery.min.js"></script>
<script src="/assets/template/popper.min.js"></script>
<script src="/assets/template/bootstrap.min.js"></script>
<script src="/assets/template/jquery.easing.min.js"></script>
<script src="/assets/template/wow.min.js"></script>
<script src="/assets/template/scripts.js"></script>
