<!-- navbar -->
<%= render partial: "home/partial/navbar" %>

<a href="/aus.html" class="link">호주 시드니</a></br>

<!-- /footer -->
<%= render partial: "home/partial/footer" %>

<!--scripts loaded here-->
<script src="/assets/template/jquery.min.js"></script>
<script src="/assets/template/popper.min.js"></script>
<script src="/assets/template/bootstrap.min.js"></script>
<script src="/assets/template/jquery.easing.min.js"></script>
<script src="/assets/template/wow.min.js"></script>
<script src="/assets/template/scripts.js"></script>
