  <!-- navbar -->
<%= render partial: "home/partial/navbar" %>
<div class="container outer pb-5">


           <div class="row my-5">
               <div class="col-lg-12">
                   <h1>Frequently Asked Questions</h1>

                   <h6 class="small text-wide mt-5">Getting Started</h6>
                   <div class="pt-0" id="accordion" role="tablist" aria-multiselectable="true">
                       <!-- repeating items -->
                       <div class="card p-2 mt-2">
                           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="display-4">
                               <h3 class="mb-0">
                                   위안부와 정신대의 차이는 무엇인가요?
                               </h3>
                           </a>
                           <div id="collapse1" class="collapse show" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                   정신대가 위안부의 더 큰 개념입니다. 정신대는 근로 정신대 등으로 전쟁에 필요한 물자를 담당하는 부서였고 이하 하위 개념으로 위안부가 있었습니다.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                               <h3 class="mb-0">
                                   일본은 왜 위안부를 인정하지 않고 있나요?
                               </h3>
                           </a>
                           <div id="collapse2" class="collapse" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                   정확히 말하면 일본 정부에서 태평양 전쟁 당시 있었던 일본 정부의 주도 하에 제도적으로 있었던 위안부를 인정하지 않는 것입니다. 일본 정부에서도 위안부의 존재에 대해서는 알고 인정하지만 그것이 일본 정부의 조직적인
                                   정책 하에 일본군 위안부가 있었다는 사실을 부인하는 것입니다.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                               <h3 class="mb-0">
                                   우리나라에서 위안부 배상금을 다 받은 것이 아닌가요?
                               </h3>
                           </a>
                           <div id="collapse3" class="collapse" role="tabpanel" aria-expanded="true">
                               <div class="card-body">
                                   1960년도 당시 한일협정으로 인해서 식민지배에 대한 보상은 이뤄졌습니다. 하지만 위안부가 처음 공식적으로 세상 밖에 나온 것은 1997년이기 때문에 1960년도에 있었던 배상에는 포함되지 않는 것입니다.
                                   설령 위안부에 대한 배상을 포함한다고 해도 개인자격의 보상을 요구하는 것은 아무런 제한이 없습니다.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                              <h3 class="mb-0">
                                  할머님들이 위안부를 하면서 돈을 많이 벌었다고 하는데요
                              </h3>
                           </a>
                           <div id="collapse4" class="collapse" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                  미군 정부에 의한 보고서에 따르면 큰 금액을 손에 만진 위안부도 있었다는 문서가 존재합니다. 하지만 대부분의 금액은 위안부 할머님들의 손에 제대로 전달되지 못했습니다.
                                  대부분 전표 등으로 보상됐으며 화폐가치는 전쟁 이후에 인플레이션으로 인해 제대로 된 가치를 인정받지 못했으며 패망한 일본 정부 때문에 그것 또한 제대로 쓰이지 못했습니다.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                               <h3 class="mb-0">
                                   How does the routing (url paths) work?
                               </h3>
                           </a>
                           <div id="collapse5" class="collapse" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                   Reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                   on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                   beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                               <h3 class="mb-0">
                                   How are 3rd party libraries and dependencies included?
                               </h3>
                           </a>
                           <div id="collapse6" class="collapse" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                   Coche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                   on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                   beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                       <!-- /repeating items -->
                   </div>

                   <hr class="accent my-3">

                   <h6 class="small text-wide mt-5">Tech Questions</h6>
                   <div class="panel-group pt-0" id="accordion2" role="tablist" aria-multiselectable="true">
                       <!-- repeating items -->
                       <div class="card p-2 mt-2">
                           <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse12" aria-expanded="false" aria-controls="collapse1" class="collapsed">
                               <h3 class="mb-0">
                                   What is the question?
                               </h3>
                           </a>
                           <div id="collapse12" class="collapse" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                   Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                   Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse22" aria-expanded="false" aria-controls="collapse2">
                               <h3 class="mb-0">
                                   Do you have a question?
                               </h3>
                           </a>
                           <div id="collapse22" class="collapse" role="tabpanel" aria-expanded="false">
                               <div class="card-body">
                                   High life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                   on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                   beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                       <div class="card p-2 mt-2">
                           <a class="" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse32" aria-expanded="true" aria-controls="collapse3">
                               <h3 class="mb-0">
                                   Why do you have so many questions?
                               </h3>
                           </a>
                           <div id="collapse32" class="collapse" role="tabpanel" aria-expanded="true">
                               <div class="card-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                   on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                   beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                           </div>
                       </div>
                       <!-- /repeating items -->
                   </div>
               </div>
           </div>
</div>

<!-- footer -->
<%= render partial: "home/partial/footer" %>

<!--scripts loaded here-->
<script src="/assets/template/jquery.min.js"></script>
<script src="/assets/template/popper.min.js"></script>
<script src="/assets/template/bootstrap.min.js"></script>
<script src="/assets/template/jquery.easing.min.js"></script>
<script src="/assets/template/wow.min.js"></script>
<script src="/assets/template/scripts.js"></script>

</body>
</html>
