<!-- navbar -->
<%= render partial: "home/partial/navbar" %>
<!-- /main -->
<a href="/stfolder.html" class="link">소녀상이란 무엇이죠?</a></br>
<a href="/list.html" class="link">소녀상은 어디에?</a></br>
<!-- /footer -->
<%= render partial: "home/partial/footer" %>

<!--scripts loaded here-->
<script src="/assets/template/jquery.min.js"></script>
<script src="/assets/template/popper.min.js"></script>
<script src="/assets/template/bootstrap.min.js"></script>
<script src="/assets/template/jquery.easing.min.js"></script>
<script src="/assets/template/wow.min.js"></script>
<script src="/assets/template/scripts.js"></script>
