<!-- navbar -->
<%= render partial: "home/partial/navbar" %>
<div class="container outer pb-5">
  <!-- who -->
  <div class="bg-alt wow slideInUp" data-wow-delay="1.2s">
      <div class="container py-5">
          <!-- alternating left right testimonials list -->
          <div class="row my-5">
              <div class="col-12">
                  <div class="row">

                      <div class="col-12 col-md-7">
                          <img class="rounded-circle float-md-right d-block mx-auto mx-md-3" src="/assets/users/m105.jpg" alt="client image">
                          <blockquote class="text-md-right text-center">
                              <a href class="link lead">고 김학순 할머니</a><br>
                              <span class="small">1917-2000
                              </span>
                          </blockquote>
                      </div>
                      <div class="col-12 col-md-5">
                          <div class="card card-default">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="col-sm-12 py-2">
                                          <h5>최초의 '위안부'증언자</h5>
                                          <p>내 눈에 흙이 들어가도 눈 못 감는다.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="my-4">
                  <div class="row">
                      <div class="col-md-7 order-md-2 col-12">
                          <img class="rounded-circle float-md-left d-block mx-auto mx-md-3" src="/assets/users/m101.jpg" alt="client image">
                          <blockquote class="text-md-left text-center">
                            <a href class="link lead">얀 루프 오헤른 할머니</a><br>
                            <span class="small">1917-
                              </span>
                          </blockquote>
                      </div>
                      <div class="col-md-5 order-md-1 col-12">
                          <div class="card card-default">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="col-sm-12 py-2">
                                          <h5>호주인 피해자 할머니</h5>
                                          <p>일본의 사죄를 꼭 듣고 싶습니다</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="my-4">
                  <div class="row">
                      <div class="col-12 col-md-7">
                          <img class="rounded-circle float-md-right d-block mx-auto mx-md-3" src="/assets/users/w102.jpg" alt="client image">
                          <blockquote class="text-md-right text-center">
                            <a href class="link lead">김학순 할머니</a><br>
                            <span class="small">1917-
                              </span>
                          </blockquote>
                      </div>
                      <div class="col-12 col-md-5">
                          <div class="card card-default">
                              <div class="container-fluid">
                                  <div class="row ">
                                      <div class="col-sm-12 py-2">
                                          <h5>여성상 수상자</h5>
                                          <p>암 투병중이지만 </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="my-4">
                  <div class="row">
                      <div class="col-md-7 order-md-2 col-12">
                          <img class="rounded-circle float-md-left d-block mx-auto mx-md-3" src="/assets/users/w104.jpg" alt="client image">
                          <blockquote class="text-md-left text-center">
                            <a href class="link lead">ㅇㅇㅇ할머니</a><br>
                            <span class="small">1917-
                              </span>
                          </blockquote>
                      </div>
                      <div class="col-md-5 order-md-1 col-12">
                          <div class="card card-default">
                              <div class="container-fluid">
                                  <div class="row">
                                      <div class="col-sm-12 py-2">
                                          <h5>이렇게 저렇게</h5>
                                          <p>통일된 한국에서 또한 투쟁</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>
<!-- footer -->
  <%= render partial: "home/partial/footer" %>

  <!--scripts loaded here-->
  <script src="/assets/template/jquery.min.js"></script>
  <script src="/assets/template/popper.min.js"></script>
  <script src="/assets/template/bootstrap.min.js"></script>
  <script src="/assets/template/jquery.easing.min.js"></script>
  <script src="/assets/template/wow.min.js"></script>
  <script src="/assets/template/scripts.js"></script>

  </body>
  </html>
